.navbtn {
    width: 200px;
    height: 150px;
}

@media only screen and (max-width:480px){
    .navbtn {
        background-color: yellow;
    }
}

@media only screen and (min-width:481px) and (max-width:1023px){
    .navbtn {
        background-color: blue;
    }
    body {
        max-width:500px;
    }
}

@media only screen and (min-width:1024px){
    .navbtn {
        background-color: red;
    }
    div {
        display: inline-block;
    }
}